.lens {
	fill: white;
}

.closet {
	fill: orange;
	opacity: .6;
}

.drawer {
	fill: green;
	opacity: .6;
}

.link {
	stroke: brown;
	fill: none;
	opacity: .6;
}

.invisibleLink {
	stroke: brown;
	fill: none;
	opacity: .1;
}

.node {
	cursor: url(../img/move-Hand.png) 17.5 5, pointer;
	stroke-width: 20px;
	opacity: .7;
}

.familyNode {
	cursor: url(../img/move-Hand.png) 17.5 5, pointer;
	fill: brown
}

.core {
	stroke: brown;
	fill: brown;
	opacity: .7;
}

.leaf {
	stroke: green;
	fill: green;
	opacity: .7;
}

.acquired {
	stroke: blue;
	fill: blue;
	opacity: .2;
}

.blacklisted {
	opacity: .2 !important;
}

.me {
	stroke: red;
	fill: red;
	opacity: .8;
}

.tagSelection {
	fill: yellow;
	opacity: .5;
}

.nodeLabel {
	fill: brown;
	font-size: 25px;
	font-family: cursive;
	cursor: pointer;
}

.my-nodeLabel {
	fill: brown;
	font-size: 40px;
	font-family: cursive;
	cursor: pointer;
}

.person--selected {
	opacity: 1;
	fill: DeepSkyBlue;
	stroke: black;
	stroke-width: 4px;
}

.family--selected {
	opacity: 1;
	fill: darkred;
	stroke: black;
	stroke-width: 4px;
}

.mixedStuff--selected {
	fill: orange;
	opacity: 1;
	stroke: black;
	stroke-width: 4px;
}

.info {
	fill: white;
	font-size: 40px;
	font-family: cursive;
}

.infoButton {
	fill: black;
}

.firedInfoButton {
	fill: orange;
}

.infoBox {
	stroke: black;
	stroke-width: 4px;
	fill: orange;
	cursor: auto;
}

.infoText {
	fill: white;
	font-size: 40px;
	font-family: cursive;
}

.navigator {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
}

.navigator-arrow {
	font-size: 60px;
	font-weight: bold;
	fill: brown;
}

.data-stream {
	fill: black;
	stroke: black;
	stroke-width: 35px;
}

.navigator--selected {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.navigator-arrow--selected {
	font-size: 30px;
	font-weight: bold;
}

.profile-image {
	cursor: url(../img/move-Hand.png) 17.5 5, pointer;
}

.profile-image--selected {
	cursor: pointer;
}

.action {
	font-size: 30px;
	font-weight: bold;
	fill: brown;
	cursor: pointer;
}

.label--selected {
	fill: brown;
	font-size: 60px;
	font-weight: bold;
	font-family: cursive;
	cursor: pointer;
}

.label--family {
	fill: white;
	font-size: 60px;
	font-weight: bold;
	font-family: cursive;
}

.frame {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.profile-frame {
	stroke-width: 4px;
	stroke: black;
	fill: black;
}

.info-frame {
	stroke-width: 4px;
	stroke: black;
	fill: #936D19;
}

.docText {
	font-size: 35px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.thumbnailText {
	font-size: 35px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.detail {
	margin-left: 400px;
}

.logo {
	width: 30px;
	height: 30px;
	margin-top: -3px;
}

.myCaret {
	border-left: 10px solid transparent !important;
	border-right: 10px solid transparent !important;
	border-top: 10px solid !important;
}

.myCursor-move {
	cursor: url(../img/Cursor-Move.png) 16 16, ns-resize;
}

.myCursor-zoom-move {
	cursor: url(../img/move_zoom.png) 16 16, ns-resize;
}

.myCursor-pointer-move {
	cursor: url(../img/move-Hand.png) 17.5 5, pointer;
}

.login-input {
	font-size: 20px;
}

.register-input {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 15px;
}

.ng-invalid {
	border-color: red !important;
	outline-color: red;
}

.ng-valid {
	border-color: green !important;
	outline-color: green;
}

.messages {
	font-size: smaller;
	padding-top: 5px;
	padding-bottom: 10px;
	color: red;
}

.error-msg {
	font-size: 20pt;
	color: red;
	margin-bottom: 40px;
}

.numberCircle {
	margin-left: 3px;
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	padding: 5px;
	background: red;
	color: white;
	text-align: center;
	font-weight: bold;
}

.spacer {
	height: 20px;
}

.document_image {
	margin-left: 0px;
	max-width: 250px;
	max-height: 250px;
	border-radius: 2px 2px 2px 2px;
}

.bookmark_image {
	margin-left: 11px;
	margin-top: 36px;
	max-width: 24px;
	max-height: 24px;
	border-radius: 2px 2px 2px 2px;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}