.lens {
	fill: white;
}

.link {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
	opacity: .6;
}

.node {
	cursor: move;
	stroke: brown;
	fill: green;
	stroke-width: 1.5px;
	opacity: .4;
}

.nodeLabel {
	fill: brown;
	font-size: 25px;
	font-family: cursive;
}

.node--selected {
	opacity: 1;
	fill: green;
	stroke: black;
	stroke-width: 4px;
}

.navigator {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
}

.navigator-arrow {
	font-size: 60px;
	font-weight: bold;
	fill: brown;
}

.data-stream {
	fill: black;
	stroke: black;
	stroke-width: 35px;
}

.navigator--selected {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.navigator-arrow--selected {
	font-size: 30px;
	font-weight: bold;
}

.node--tagged circle {
	opacity: 1;
	fill: yellow;
}

.profile-image {
	cursor: move;
}

.label--selected {
	fill: brown;
	font-size: 60px;
	font-weight: bold;
	font-family: cursive;
}

.frame {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.profile-frame {
	stroke-width: 4px;
	stroke: black;
	fill: black;
}

.docText {
	font-size: 55px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.thumbnailText {
	font-size: 35px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.detail {
	margin-left: 400px;
}