.background {
	stroke-width: 5px;
	stroke: black;
}

.link {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
	opacity: .6;
}

.node {
	cursor: move;
	stroke: brown;
	fill: green;
	stroke-width: 1.5px;
	opacity: .4;
}

.label {
	fill: brown;
	font-size: 12px;
}

.node--selected {
	opacity: 1;
	fill: green;
}

.navigator {
	stroke-width: 5px;
	stroke: black;
	fill: none;
}

.navigator-arrow {
	font-size: 60px;
	font-weight: bold;
}

.navigator--selected {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.navigator-arrow--selected {
	font-size: 30px;
	font-weight: bold;
}

.node--tagged circle {
	opacity: 1;
	fill: yellow;
}

.profile-image {
	cursor: move;
}

.label--selected {
	fill: brown;
	font-size: 15px;
	font-weight: bold;
}

.profile-frame {
	stroke-width: 4px;
	stroke: black;
	fill: none;
}

.closeDocText {
	font-size: 55px;
	font-weight: bold;
	fill: black;
}

.detail {
	margin-left: 400px;
}