.lens {
	fill: white;
}

.link {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
	opacity: .6;
}

.node {
	cursor: url(../img/click-drag.png) 17.5 5, pointer;
	stroke: brown;
	fill: green;
	stroke-width: 1.5px;
	opacity: .4;
}

.my-node {
	cursor: url(../img/click-drag.png) 17.5 5, pointer;
	stroke: black;
	fill: green;
	stroke-width: 6px;
	opacity: .8;
}
.nodeLabel {
	fill: brown;
	font-size: 25px;
	font-family: cursive;
}

.my-nodeLabel {
	fill: brown;
	font-size: 40px;
	font-family: cursive;
}

.node--selected {
	opacity: 1;
	fill: green;
	stroke: black;
	stroke-width: 4px;
}

.navigator {
	stroke-width: 5px;
	stroke: brown;
	fill: none;
}

.navigator-arrow {
	font-size: 60px;
	font-weight: bold;
	fill: brown;
}

.data-stream {
	fill: black;
	stroke: black;
	stroke-width: 35px;
}

.navigator--selected {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.navigator-arrow--selected {
	font-size: 30px;
	font-weight: bold;
}

.node--tagged circle {
	opacity: 1;
	fill: yellow;
}

.profile-image {
	cursor: url(../img/click-drag.png) 17.5 5, pointer;
}

.label--selected {
	fill: brown;
	font-size: 60px;
	font-weight: bold;
	font-family: cursive;
}

.frame {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

.profile-frame {
	stroke-width: 4px;
	stroke: black;
	fill: black;
}

.docText {
	font-size: 55px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.closeDoc {
	font-size: 35px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.thumbnailText {
	font-size: 35px;
	font-weight: bold;
	fill: brown;
	font-family: cursive;
}

.detail {
	margin-left: 400px;
}

.logo {
	width: 30px;
	height: 30px;
	margin-top: -3px;
}

.myCaret {
	border-left: 10px solid transparent !important;
	border-right: 10px solid transparent !important;
	border-top: 10px solid !important;
}

.myCursor-move {
   cursor: url(../img/Cursor-Move.png) 16 16, ns-resize;
}

.myCursor-zoom-move {
   cursor: url(../img/move_zoom.png) 16 16, ns-resize;
}

.myCursor-pointer-move {
   cursor: url(../img/click-drag.png) 17.5 5, pointer;
}