<div id="header">
	<div id="header_well" class="well">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2">
				<a href="tree.html"><img id="logo" class="img-responsive"
					src="img/logo.png"></a>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10">
				<h2>
					family.place <br /> <small>Connect with relatives you
						really care about</small>
				</h2>

			</div>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">

	<div class="col-lg-4 col-md-4 col-sm-4">
		<h2>Sign up</h2>

		<form name="registrationForm" id="registrationForm" novalidate>

			<h3 style="margin-top: 30px">You</h3>

			<div class="row">
				<input class="form-control register-input" ng-model="username"
					type="text" name="username" placeholder="Mario Rossi" required />
			</div>
			<div ng-messages="registrationForm.username.$error">
				<ng-messages-include src="html/messages.html"></ng-messages-include>
			</div>

			<div class="dropdown row">
				<a class="dropdown-toggle birth-date-toggle-select" id="dLabel"
					role="button" data-toggle="dropdown" data-target="#" href="">
					<div class="input-append">
						<input type="text" class="form-control register-input"
							data-ng-model="birthDate" name="birthDate"
							placeholder="Birth date"><span class="add-on"><i
							class="icon-calendar"></i></span>
					</div>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<datetimepicker data-ng-model="birthDate"
						data-datetimepicker-config="{ dropdownSelector: '.birth-date-toggle-select', minView: 'day', startView: 'year'}"></datetimepicker>
				</ul>
			</div>

			<div class="row">
				<input class="form-control register-input" ng-model="email"
					type="email" name="email" placeholder="Email" required />
			</div>
			<div ng-messages="registrationForm.email.$error">
				<ng-messages-include src="html/messages.html"></ng-messages-include>
			</div>

			<div class="row">
				<input class="form-control register-input" ng-model="password"
					type="password" name="password" placeholder="Password" required />
			</div>
			<div ng-messages="registrationForm.password.$error">
				<ng-messages-include src="html/messages.html"></ng-messages-include>
			</div>

			<div class="row">
				<input class="form-control register-input"
					ng-model="duplicatePassword" type="password" name="confirmPassword"
					placeholder="Confirm password" required compare-to="password" />
			</div>
			<div ng-messages="registrationForm.confirmPassword.$error">
				<ng-messages-include src="html/messages.html"></ng-messages-include>
			</div>

			<h3 style="margin-top: 40px">
				Help us to identify you <br /> <br /> <small>Maybe someone
					already added you. We will add the following people in the family,
					if missing. <br> <br> You can add more people after the
					registration.
				</small>
			</h3>

			<h4 style="margin-top: 40px">Your parents</h4>

			<div class="row">
				<input class="form-control register-input"
					ng-model="firstParentName" type="text" name="name"
					placeholder="Name" />
			</div>
			<div class="row">
				<input class="form-control register-input"
					ng-model="secondParentName" type="text" name="name"
					placeholder="Name" />
			</div>

			<h4 style="margin-top: 20px">Your brothers or sisters (if any)</h4>

			<div class="row">
				<input class="form-control register-input"
					ng-model="firstSiblingName" type="text" name="name"
					placeholder="Name" />
			</div>
			<div class="row">
				<input class="form-control register-input"
					ng-model="secondSiblingName" type="text" name="name"
					placeholder="Name" />
			</div>

			<h4 style="margin-top: 20px">Your partner (if any)</h4>

			<div class="row">
				<input class="form-control register-input" ng-model="partnerName"
					type="text" name="name" placeholder="Name" />
			</div>

			<div class="row">
				<input
					style="margin-top: 40px; margin-left: 15px; margin-bottom: 20px;"
					id="btn_signup" ng-disabled="!registrationForm.$valid"
					ng-click="register()" type="submit" name="submit" value="Sign up"
					class="btn btn-primary btn-lg" />
			</div>
		</form>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4"></div>
	<div class="col-lg-4 col-md-4 col-sm-4">

		<h2>Login</h2>

		<form name="loginForm" style="margin-top: 30px"
			ng-submit="login(loginUsername, loginPassword)" form-autofill-fix>
			<div>

				<h3 class="panel-title">Name</h3>
				<input style="margin-top: 10px" type="text" ng-model="loginUsername"
					name="loginUsername" class="form-control login-input" required
					ng-keydown="submitFormOnEnter($event)" style="height: 40px">

				<h3 class="panel-title" style="margin-top: 20px">Password</h3>
				<input style="margin-top: 10px" type="password"
					ng-model="loginPassword" name="loginPassword"
					class="form-control login-input" required
					ng-keydown="submitFormOnEnter($event)" style="height: 40px">

				<button class="btn btn-primary btn-lg"
					ng-disabled="!loginForm.$valid" id="btn_login"
					style="margin-top: 20px" type="submit">Login</button>

				<div style="margin-top: 10px; padding-left: 220px;">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="identifyUserModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="identifyUserModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="identifyUserModalLabel">We found someone called
					'{{username}}'</h3>
			</div>
			<div class="modal-body">

				<ul id="potentialMatchesList">
					<li ng-repeat="potentialUser in potentialUsers"><img
						ng-src="docs/{{potentialUser.img}}" style="height: 60px;">

						<button class="btn btn-primary" style="margin-left: 20px"
							ng-click="useThisAsUser(potentialUser.id)">Yes, it's me</button></li>
				</ul>

			</div>

			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary" ng-click="registerNewUser()">No,
					there's no me</button>
			</div>
		</div>
	</div>
</div>

<div id="alreadyRegisteredModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="alreadyRegisteredModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="alreadyRegisteredModalLabel">You are already registered</h3>
			</div>

			<div class="modal-body">

				<h5 ng-show="alreadyRegisteredWithNode">You are already
					registered with another password</h5>
				<h5 ng-show="!alreadyRegisteredWithNode">You are already
					registered with the same password</h5>
			</div>

			<div class="modal-footer">
				<button class="btn" ng-show="!alreadyRegisteredWithNode"
					data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary" ng-show="!alreadyRegisteredWithNode"
					ng-click="login(username, password)">Login</button>

				<button class="btn" ng-show="alreadyRegisteredWithNode"
					data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="moreInfoModal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="moreInfoModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="moreInfoModalLabel">We found more than one matching
					person</h3>
			</div>

			<div class="modal-body">

				<h5>Add more components of your family and try again!</h5>
			</div>

			<div class="modal-footer">

				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>