<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home"> <img class="logo"
				alt="Brand" src="img/logo.png">
			</a>
		</div>

		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li class="dropdown"><a id="view-mode" href=""
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-expanded="false"> {{graph.view.label}}<span
						class="caret myCaret"></span>
				</a>

					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="view in views"><a href=""
							ng-click="updateView(view)">{{view.label}}</a></li>
						<li class="divider"></li>
						<li><a href="">Custom view</a></li>
					</ul></li>
				<li><a href="" ng-click="resetPositions()">Reset positions</a></li>
				<li><a href="#/explore">Explore</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input ng-model="searchName" type="text" class="form-control"
						placeholder="Search">
				</div>
				<!-- <button type="submit" class="btn btn-default">Submit</button> -->
			</form>
			<ul class="nav navbar-nav navbar-right">

				<li><a href="mockup/upload.pdf">Upload</a></li>

				<li class="dropdown"><a href="" id="notifications"
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-expanded="false"> Notifications <span class="numberCircle"
						ng-show="graph.notifications.length > 0">&nbsp;{{graph.notifications.length}}&nbsp;</span>
				</a>
					<ul class="dropdown-menu" role="menu" id="notifications-list">
						<li ng-repeat="notification in graph.notifications"><a
							href="" ng-click="showNotificationObject(notification)">{{notification.label}}</a></li>
						<li ng-show="graph.notifications.length == 0">&nbsp;</li>
					</ul></li>

				<li class="dropdown"><a href="" id="logged-user"
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-expanded="false"> {{graph.user.label}} <span
						class="caret myCaret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/profile">Profile</a></li>
						<li><a href="#/settings">Settings</a></li>
						<li class="divider"></li>
						<li><a href="" ng-click="logout()">Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>



<div d3-tree></div>


<iframe id="upload_target" name="upload_target" src="#"
	style="display: none;"></iframe>

<form target="upload_target" style="display: none"
	id="uploadProfileImageForm" enctype="multipart/form-data" method="post">
	<input type="file" id="profile-img-upload" name="profile-img-upload" />
</form>

<div id="addDocumentModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="addDocumentModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="addDocumentModalLabel">Upload a document</h3>
			</div>
			<div class="modal-body">

				<h4>Select document in your local disk</h4>

				<iframe id="upload_target" name="upload_target" src="#"
					style="display: none;"></iframe>

				<form target="upload_target" id="uploadDocumentForm"
					enctype="multipart/form-data" method="post">
					<input type="file" id="document-upload" name="document-upload" />
				</form>

				<h4 style="margin-top: 30px">Info</h4>
				<div style="display: inline-block">
					<p style="display: inline; margin-right: 20px">Title:</p>
					<input type="text" id="title" ng-model="addTitle" name="title">
				</div>
				<div style="margin-bottom: 10px"></div>
				<div style="display: inline-block">
					<div class="dropdown">
						<div class="dropdown-toggle add-date-toggle-select" id="dLabel"
							role="button" data-toggle="dropdown" data-target="#" href="">

							<p style="display: inline; margin-right: 20px">Date:</p>
							<input type="text" data-ng-model="addDate"><span
								class="add-on"><i class="icon-calendar"></i></span>

						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="addDate"
								data-datetimepicker-config="addDateConfig"></datetimepicker>
						</ul>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div id="keywords">
					<p style="margin-right: 20px;">Keywords:</p>
					<div class="padded-row">

						<div style="width: 167px; margin-left: 23px; margin-bottom: 20px"
							angucomplete-alt id="newKeyword" placeholder="type new keyword"
							pause="100" selected-object="selectedNewKeyword"
							local-data="availableKeywords" search-fields="value"
							title-field="value" minlength="1"
							input-class="form-control form-control-small"
							match-class="highlight" clear-selected="true"
							override-suggestions="true" text-no-results=false
							text-searching=false></div>

					</div>
				</div>
				<ul id="edit-keywordArea" name="keywordArea">
					<li ng-repeat="keyword in keywords">{{keyword.label}}<a
						style="margin-left: 5px" href=""
						ng-click="removeElement(keywords, availableKeywords, keyword)">(remove)</a></li>
				</ul>

				<br />
				<div style="margin-bottom: 20px"></div>
				<div id="tagged" style="display: inline-block">
					<p style="display: inline; margin-right: 20px">Persons tagged:</p>

					<div class="dropdown" style="display: inline; margin-right: 10px">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenuTagged" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							Add <span class="caret"></span>
						</button>

						<ul id="add-taggablePersons" class="dropdown-menu scrollable-menu"
							aria-labelledby="dropdownMenuTagged">
							<li ng-repeat="taggableUser in taggableUsers"><a href=""
								ng-click="addElement(taggedUsers, taggableUsers, taggableUser)">{{taggableUser.name}}</a></li>
						</ul>
					</div>
				</div>
				<br />
				<ul style="margin-top: 16px" id="add-taggedArea" name="taggedArea">
					<li ng-repeat="taggedUser in taggedUsers">{{taggedUser.name}}<a
						style="margin-left: 5px" href=""
						ng-show="taggedUser.id != nodeUser.id || inHeritage"
						ng-click="removeElement(taggedUsers, taggableUsers, taggedUser)">(remove)</a></li>
				</ul>
				<div id="excluded" style="display: inline-block; margin-top: 20px">
					<p style="display: inline; margin-right: 20px">Persons I'm not
						sharing with:</p>

					<div class="dropdown" style="display: inline; margin-right: 10px">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenuExcluded" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							Add <span class="caret"></span>
						</button>

						<ul id="add-excludablePersons"
							class="dropdown-menu scrollable-menu"
							aria-labelledby="dropdownMenuExcluded">
							<li ng-repeat="excludableUser in excludableUsers"><a href=""
								ng-click="addElement(excludedUsers, excludableUsers, excludableUser)">{{excludableUser.name}}</a></li>
						</ul>
					</div>
				</div>
				<br />
				<ul style="margin-top: 16px" id="add-excludedArea"
					name="excludedArea">
					<li ng-repeat="excludedUser in excludedUsers">{{excludedUser.name}}<a
						style="margin-left: 5px" href=""
						ng-click="removeElement(excludedUsers, excludableUsers, excludedUser)">(remove)</a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary" id="uploadDocument"
					ng-click="uploadNewDocument()">Upload</button>
			</div>
		</div>
	</div>
</div>

<div id="editDocumentModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="addDocumentModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="addDocumentModalLabel">Edit a document</h3>
			</div>
			<div class="modal-body">

				<h4 id="edit-file">{{editFileName}}</h4>
				<div style="display: inline-block">
					<p style="display: inline; margin-right: 20px">Title:</p>
					<input type="text" id="edit-title" ng-model="editTitle"
						name="title">
				</div>
				<div style="margin-bottom: 10px"></div>
				<div style="display: inline-block">

					<div class="dropdown">
						<div class="dropdown-toggle edit-date-toggle-select" id="dLabel"
							role="button" data-toggle="dropdown" data-target="#" href="">

							<p style="display: inline; margin-right: 20px">Date:</p>
							<input type="text" data-ng-model="editDate"><span
								class="add-on"><i class="icon-calendar"></i></span>

						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="editDate"
								data-datetimepicker-config="editDateConfig"></datetimepicker>
						</ul>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div id="keywords">
					<p style="margin-right: 20px;">Keywords:</p>
					<div class="padded-row">

						<div style="width: 167px; margin-left: 23px; margin-bottom: 20px"
							angucomplete-alt id="newKeyword" placeholder="type new keyword"
							pause="100" selected-object="selectedNewKeyword"
							local-data="availableKeywords" search-fields="value"
							title-field="value" minlength="1"
							input-class="form-control form-control-small"
							match-class="highlight" clear-selected="true"
							override-suggestions="true" text-no-results=false
							text-searching=false></div>

					</div>
				</div>
				<ul id="edit-keywordArea" name="keywordArea">
					<li ng-repeat="keyword in keywords">{{keyword.label}}<a
						style="margin-left: 5px" href=""
						ng-click="removeElement(keywords, availableKeywords, keyword)">(remove)</a></li>
				</ul>

				<br />
				<div style="margin-bottom: 20px"></div>
				<div id="tagged" style="display: inline-block">
					<p style="display: inline; margin-right: 20px">Persons tagged:</p>

					<div class="dropdown" style="display: inline; margin-right: 10px">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenuTagged" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							Select <span class="caret"></span>
						</button>

						<ul id="edit-taggablePersons"
							class="dropdown-menu scrollable-menu"
							aria-labelledby="dropdownMenuTagged">
							<li ng-repeat="taggableUser in taggableUsers"><a href=""
								ng-click="addElement(taggedUsers, taggableUsers, taggableUser)">{{taggableUser.name}}</a></li>
						</ul>
					</div>

				</div>
				<br />
				<ul style="margin-top: 16px" id="edit-taggedArea" name="taggedArea">
					<li ng-repeat="taggedUser in taggedUsers">{{taggedUser.name}}<a
						style="margin-left: 5px" href=""
						ng-show="taggedUser.id != owner.id || inHeritage"
						ng-click="removeElement(taggedUsers, taggableUsers, taggedUser)">(remove)</a></li>
				</ul>

				<div id="excluded" style="display: inline-block; margin-top: 20px">
					<p style="display: inline; margin-right: 20px">Persons I'm not
						sharing with:</p>

					<div class="dropdown" style="display: inline; margin-right: 10px">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenuExcluded" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							Select <span class="caret"></span>
						</button>

						<ul id="edit-excludablePersons"
							class="dropdown-menu scrollable-menu"
							aria-labelledby="dropdownMenuExcluded">
							<li ng-repeat="excludableUser in excludableUsers"><a href=""
								ng-click="addElement(excludedUsers, excludableUsers, excludableUser)">{{excludableUser.name}}</a></li>
						</ul>
					</div>
				</div>
				<br />
				<ul style="margin-top: 16px" id="edit-excludedArea"
					name="excludedArea">
					<li ng-repeat="excludedUser in excludedUsers">{{excludedUser.name}}<a
						style="margin-left: 5px" href=""
						ng-show="excludedUser.id != nodeUser.id"
						ng-click="removeElement(excludedUsers, excludableUsers, excludedUser)">(remove)</a></li>
				</ul>

			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary" id="updateDocument"
					ng-click="updateDocument()">Update</button>
			</div>
		</div>
	</div>
</div>

<div id="addInfoModal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="addInfoModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="addInfoModalLabel">Add event</h3>
			</div>
			<div class="modal-body">

				<div style="margin-bottom: 20px"></div>
				<div id="eventType" style="display: inline-block">
					<p style="display: inline; margin-right: 20px">Event type:</p>

					<div class="dropdown" style="display: inline; margin-right: 10px">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenuTagged" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">
							{{selectedEventType}} <span class="caret"></span>
						</button>

						<ul id="eventTypes" class="dropdown-menu"
							aria-labelledby="dropdownMenuTagged">
							<li ng-repeat="eventType in eventTypes | filter: eventTypeFilter"><a
								href="" ng-click="selectEvent(eventType)">{{eventType.label}}</a></li>
						</ul>
					</div>
				</div>
				<div style="display: inline-block; margin-left: 100px">
					<div class="dropdown">
						<div class="dropdown-toggle add-date-toggle-select" id="dLabel"
							role="button" data-toggle="dropdown" data-target="#" href="">

							<p style="display: inline; margin-right: 20px">Date:</p>
							<input type="text" data-ng-model="nodeEventDate"><span
								class="add-on"><i class="icon-calendar"></i></span>

						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="nodeEventDate"
								data-datetimepicker-config="addDateConfig"></datetimepicker>
						</ul>
					</div>
				</div>
				<br />

			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button class="btn btn-primary" id="addInfo"
					ng-click="addNodeEvent()">Add</button>
			</div>
		</div>
	</div>
</div>